!Type:CCard
D01/06/2007
T-4.50
PNORTH TAHOE STATION KINGS BEACH       CA
LExpenses:Auto:Gas
^
D01/06/2007
T-35.43
PNORTH TAHOE STATION KINGS BEACH       CA
LExpenses:Auto:Gas
^
D01/11/2007
T-37.32
PCHEVRON 0301290     INCLINE VILLAGE   NV
LExpenses:Auto:Gas
^
D01/18/2007
T-38.47
PUNION 76            TRUCKEE           CA
LExpenses:Auto:Gas
^
D01/25/2007
T-36.90
PNORTH TAHOE STATION KINGS BEACH         CA
LExpenses:Auto:Gas
^
D01/29/2007
T-35.70
PNORTH TAHOE STATION KINGS BEACH         CA
LExpenses:Auto:Gas
^
D02/13/2007
T-40.20
PSHELL OIL           TRUCKEE           CA
LExpenses:Auto:Gas
^
D02/19/2007
T-5.38
PSHELL OIL           TRUCKEE           CA
LExpenses:Auto:Gas
^
D02/19/2007
T-38.59
PSHELL OIL           TRUCKEE           CA
LExpenses:Auto:Gas
^
D02/24/2007
T-41.54
PSHELL OIL           TRUCKEE           CA
LExpenses:Auto:Gas
^
D04/07/2007
T-49.63
PSHELL OIL           TRUCKEE           CA
LExpenses:Auto:Gas
^
D04/14/2007
T-51.46
PCHEVRON 0301508     KINGS BEACH       CA
LExpenses:Auto:Gas
^
D04/28/2007
T-49.31
PUNION 76            INCLINE VILLAGE   NV
LExpenses:Auto:Gas
^
D05/05/2007
T-51.83
PCHEVRON 0202365     RENO              NV
LExpenses:Auto:Gas
^
D05/18/2007
T-33.65
PSHELL OIL           SO SAN FRANCISCO  CA
LExpenses:Auto:Gas
^
D06/17/2007
T-25.82
PUNION 76            TRUCKEE           CA
LExpenses:Auto:Gas
^
D06/17/2007
T-28.03
PUNION 76            TRUCKEE           CA
LExpenses:Auto:Gas
^
D06/24/2007
T-50.74
PCHEVRON 0090071     TAHOE CITY        CA
LExpenses:Auto:Gas
^
D07/06/2007
T-51.92
PSHELL OIL           SUSANVILLE        CA
LExpenses:Auto:Gas
^
D07/08/2007
T-47.61
PCHEVRON 0096870     CHICO             CA
LExpenses:Auto:Gas
^
D07/08/2007
T-41.72
PTEXACO 0306411      GRANTS PASS       OR
LExpenses:Auto:Gas
^
D07/15/2007
T-48.80
PSHELL OIL           BISHOP            CA
LExpenses:Auto:Gas
^
D07/21/2007
T-51.35
PCHEVRON 0301508     KINGS BEACH       CA
LExpenses:Auto:Gas
^
D07/26/2007
T-51.05
PCHEVRON 0301290     INCLINE VILLAGE   NV
LExpenses:Auto:Gas
^
D07/31/2007
T-10.00
PCITGO 7 ELEVEN 18386INCLINE VILLAGE   NV
LExpenses:Auto:Gas
^
D08/04/2007
T-24.61
PCHEVRON 0204464     GARDNERVILLE      NV
LExpenses:Auto:Gas
^
D08/04/2007
T-33.58
PSHELL OIL           MINDEN            NV
LExpenses:Auto:Gas
^
D08/12/2007
T-37.48
PCHEVRON 0204464     GARDNERVILLE      NV
LExpenses:Auto:Gas
^
D08/18/2007
T-34.74
PATTN AMEX ACCOUNTANTCONCORD             CA
LExpenses:Auto:Gas
^
D08/19/2007
T-24.18
PSHELL OIL           MINDEN            NV
LExpenses:Auto:Gas
^
D08/20/2007
T-15.04
PCHEVRON OIL 0202365 CONCORD             CA
LExpenses:Auto:Gas
^
D09/03/2007
T-6.37
PKINGS BCH CHEVRN 030KINGS BEACH         CA
LExpenses:Auto:Gas
^
D09/05/2007
T-38.50
PGALENA MARKET 020236RENO                NV
LExpenses:Auto:Gas
^
D09/11/2007
T-48.01
PINCLINE VILLAGE 0301INCLINE VILLAGE     NV
LExpenses:Auto:Gas
^
D09/15/2007
T-21.88
PSHELL OIL           MINDEN            NV
LExpenses:Auto:Gas
^
D09/16/2007
T-31.00
PSHELL OIL           MINDEN            NV
LExpenses:Auto:Gas
^
D09/29/2007
T-37.12
PAGIP SERVICE-STATION, MUENCHEN-FLUGHAFEN
LExpenses:Auto:Gas
^
D11/13/2007
T-52.58
PCHEVRON KINGS BCH CHKINGS BEACH         CA
LExpenses:Auto:Gas
^
D11/19/2007
T-51.19
PSHELL OIL           RENO              NV
LExpenses:Auto:Gas
^
D11/20/2007
T-41.92
PCHEVRON WINNER'S CORBATTLE MOUNTAI      NV
LExpenses:Auto:Gas
^
D11/20/2007
T-36.77
PSHELL OIL           EDEN              ID
LExpenses:Auto:Gas
^
D11/25/2007
T-48.97
PEXXONMOBIL          IDAHO FALLS         ID
LExpenses:Auto:Gas
^
D11/25/2007
T-48.52
PSHELL OIL           RENO              NV
LExpenses:Auto:Gas
^
D11/25/2007
T-45.41
PSHELL OIL           WELLS             NV
LExpenses:Auto:Gas
^
D12/21/2007
T-49.27
PCHEVRON GALENA MARKERENO                NV
LExpenses:Auto:Gas
^
D12/26/2007
T-54.65
PCHEVRON KINGS BCH CHKINGS BEACH         CA
LExpenses:Auto:Gas
^
D09/05/2007
T-950.28
PLITHIA RENO SUB LITHRENO                NV
LExpenses:Auto:Auto Services
^
D04/02/2007
T-40.00
PMEM RWDS ANNUAL PROGRAM FEE
LExpenses:Fees and Adjustments:Fees And Adjustments
^
D08/08/2007
T-55.00
PMembership Renewal Fee
LExpenses:Fees and Adjustments:Fees And Adjustments
^
D01/21/2007
T-780.54
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D03/01/2007
T-254.00
PUNITED AIRLINES      RENO         NV
LExpenses:Travel:Airline
^
D03/18/2007
T-1055.10
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D03/18/2007
T-1055.10
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D03/31/2007
T-679.60
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D05/11/2007
T-114.22
PDELTA AIR LINES      ATLANTA      GA
LExpenses:Travel:Airline
^
D05/11/2007
T-114.22
PDELTA AIR LINES      ATLANTA      GA
LExpenses:Travel:Airline
^
D05/12/2007
T-10.00
PAIR FRANCE - USA SALES3
LExpenses:Travel:Airline
^
D05/12/2007
T-10.00
PAIR FRANCE - USA SALES3
LExpenses:Travel:Airline
^
D05/12/2007
T-906.98
PAIR FRANCE - USA SALES3
LExpenses:Travel:Airline
^
D05/12/2007
T-906.98
PAIR FRANCE - USA SALES3
LExpenses:Travel:Airline
^
D07/29/2007
T-1192.69
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D07/29/2007
T-1192.69
PUNITED AIRLINES      ROSEMONT     IL
LExpenses:Travel:Airline
^
D11/14/2007
T-710.22
PUNITED AIRLINES      MAKATI CITY, IL
LExpenses:Travel:Airline
^
D03/02/2007
T-107.98
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D03/10/2007
T-764.95
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D03/12/2007
T-94.15
PHERTZ RENT A CAR FINLAND
LExpenses:Travel:Car Rental
^
D03/15/2007
T-659.19
PHERTZ RENT A CAR FINLAND
LExpenses:Travel:Car Rental
^
D04/18/2007
T-323.52
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D05/18/2007
T-53.59
PHERTZ CAR RENTAL    INCLINE VILLA     NV
LExpenses:Travel:Car Rental
^
D06/01/2007
T-52.25
PJUMBO CAR SA, ABYMES
LExpenses:Travel:Car Rental
^
D06/02/2007
T-493.71
PHERTZ SA, TRAPPES CX
LExpenses:Travel:Car Rental
^
D06/18/2007
T-134.60
PHERTZ CAR RENTAL    SAN FRANCISCO     CA
LExpenses:Travel:Car Rental
^
D08/20/2007
T-68.47
PHERTZ CAR RENTAL    RENO              NV
LExpenses:Travel:Car Rental
^
D09/03/2007
T-627.57
PHERTZ AUSTRALIA PTY LTD
LExpenses:Travel:Car Rental
^
D09/04/2007
T-72.83
PHERTZ CAR RENTAL    RENO              NV
LExpenses:Travel:Car Rental
^
D09/28/2007
T-85.41
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D09/28/2007
T-68.62
PHERTZ CAR RENTAL    INCLINE VILLA     NV
LExpenses:Travel:Car Rental
^
D10/05/2007
T-30.29
PHERTZ AUSTRALIA PTY LTD
LExpenses:Travel:Car Rental
^
D10/08/2007
T-970.02
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D11/27/2007
T-814.74
PHERTZ - MAKATEL -, FRANKFURT
LExpenses:Travel:Car Rental
^
D02/01/2007
T-458.07
PHOTELLI AAKENUS, ROVANIEMI
LExpenses:Travel:Lodging
^
D03/23/2007
T-776.78
PHOTEL VILLA BASILEWSCUTIGLIANO
LExpenses:Travel:Lodging
^
D04/05/2007
T-294.80
PBest Western PresideNew York          NY
LExpenses:Travel:Lodging
^
D04/05/2007
T-110.24
PRAMADA LIMITED      DENVER              CO
LExpenses:Travel:Lodging
^
D06/17/2007
T-74.50
PRAMADA LIMITED      SAN BRUNO           CA
LExpenses:Travel:Lodging
^
D10/08/2007
T-3718.47
PJ W MARRIOTT HOTEL MUMBAI INDIA
LExpenses:Travel:Lodging
^
D11/06/2007
T-10.00
PMTA MVM*42ND STREET 212-METROCARD       NY
LExpenses:Travel:Other Transportation
^
D03/01/2007
T-12.45
PFUNG LAM            SAN FRANCISCO       CA
LExpenses:Restaurant:Restaurant
^
D03/01/2007
T-6.50
PSAN FRANCISCO SOUP CSAN FRANCISCO     CA
LExpenses:Restaurant:Restaurant
^
D03/01/2007
T-10.23
PSAN FRANCISCO SOUP CSAN FRANCISCO     CA
LExpenses:Restaurant:Restaurant
^
D03/25/2007
T-10.23
PSAN FRANCISCO SOUP CSAN FRANCISCO     CA
LExpenses:Restaurant:Restaurant
^
D04/01/2007
T-2.46
PCREATIVE HOST SERVICRENO                NV
LExpenses:Restaurant:Restaurant
^
D04/01/2007
T-2.46
PCREATIVE HOST SERVICRENO                NV
LExpenses:Restaurant:Restaurant
^
D04/02/2007
T-5.40
PEUROPA CAFE         NEW YORK          NY
LExpenses:Restaurant:Restaurant
^
D04/02/2007
T-11.05
PEUROPA CAFE         NEW YORK          NY
LExpenses:Restaurant:Restaurant
^
D04/03/2007
T-6.77
PEUROPA CAFE         NEW YORK          NY
LExpenses:Restaurant:Restaurant
^
D04/03/2007
T-11.05
PEUROPA CAFE         NEW YORK          NY
LExpenses:Restaurant:Restaurant
^
D04/04/2007
T-11.81
PCIBO EXPRESS GOURMETFLUSHING            NY
LExpenses:Restaurant:Restaurant
^
D04/04/2007
T-12.98
PCIBO EXPRESS GOURMETFLUSHING            NY
LExpenses:Restaurant:Restaurant
^
D04/05/2007
T-2.42
PDENVER SPORTS BAR   DENVER              CO
LExpenses:Restaurant:Restaurant
^
D04/17/2007
T-16.12
PSAN FRANCISCO SOUP CSAN FRANCISCO     CA
LExpenses:Restaurant:Restaurant
^
D05/19/2007
T-9.34
PCARIBOU COFFEE      ATLANTA           GA
LExpenses:Restaurant:Restaurant
^
D06/16/2007
T-10.45
PHMS HOST-ATL AIRPT QATLANTA             GA
LExpenses:Restaurant:Restaurant
^
D08/20/2007
T-7.59
PCREATIVE HOST SERVICRENO                NV
LExpenses:Restaurant:Restaurant
^
D08/20/2007
T-8.78
PCREATIVE HOST SERVICRENO                NV
LExpenses:Restaurant:Restaurant
^
D09/27/2007
T-7.31
PDELI UP CAFE        00001               CA
LExpenses:Restaurant:Restaurant
^
D11/06/2007
T-7.21
PEUROPA CAFE 93861522NEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/06/2007
T-10.50
PEUROPA CAFE 93861522NEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/06/2007
T-13.55
PPAX WHOLESOME FOODS NEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/07/2007
T-7.11
PROSENS CAFE ROSENS CNEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/07/2007
T-18.92
PROSENS CAFE ROSENS CNEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/08/2007
T-11.35
PPAX WHOLESOME FOODS NEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/08/2007
T-52.90
PWU LIANG YE WU LIANGNEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/09/2007
T-7.84
PEUROPA CAFE 93861524NEW YORK            NY
LExpenses:Restaurant:Restaurant
^
D11/09/2007
T-6.81
PHMSHOST-JFK-AIRPT #QJAMAICA             NY
LExpenses:Restaurant:Restaurant
^
D11/09/2007
T-9.68
PWOLFGANG PUCK #831 QSALT LAKE CIT       UT
LExpenses:Restaurant:Restaurant
^
D11/26/2007
T-5.90
PCAFFE DEL MONDO - TESAN FRANCISCO       CA
LExpenses:Restaurant:Restaurant
^
D11/26/2007
T-5.13
PCREATIVE HOST SERVICRENO                NV
LExpenses:Restaurant:Restaurant
^
D11/26/2007
T-6.98
PSAN FRANCISCO SOUP CSAN FRANCISCO       CA
LExpenses:Restaurant:Restaurant
^
D12/17/2007
T-10.22
PSAN FRANCISCO SOUP CSAN FRANCISCO       CA
LExpenses:Restaurant:Restaurant
^
D12/18/2007
T-1.89
PTEMP NEWS #1       QSAN FRANCISCO       CA
LExpenses:Restaurant:Restaurant
^
D06/28/2007
T-160.00
PTAHOE CITY MARINA 00TAHOE CITY          CA
LExpenses:Other Merchants:Entertainment
^
D09/28/2007
T-29.00
PTRANSACTION PROCESSED BY AMERICAN EXPRESS
LExpenses:Other Merchants:Cash/fees
^
D01/01/2007
T-105.37
PAT&T EASYCHARGE     800-310-2355        CA
LExpenses:Other Merchants:Communications
^
D01/11/2007
T-265.98
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D01/28/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D01/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK     KS
LExpenses:Other Merchants:Communications
^
D02/01/2007
T-105.37
PAT&T EASYCHARGE     800-310-2355        CA
LExpenses:Other Merchants:Communications
^
D02/11/2007
T-47.48
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D02/25/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D03/01/2007
T-105.43
PAT&T EASYCHARGE     800-310-2355        CA
LExpenses:Other Merchants:Communications
^
D03/02/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK     KS
LExpenses:Other Merchants:Communications
^
D03/12/2007
T-37.63
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D03/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D04/01/2007
T-135.19
PAT&T EASYCHARGE     800-310-2355        CA
LExpenses:Other Merchants:Communications
^
D04/01/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D04/11/2007
T-190.22
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D04/29/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D04/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D05/01/2007
T-105.40
PAT&T EASYCHARGE     800-288-2020        CA
LExpenses:Other Merchants:Communications
^
D05/11/2007
T-68.50
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D05/27/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D05/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D06/01/2007
T-84.06
PAT&T EASYCHARGE     800-288-2020        CA
LExpenses:Other Merchants:Communications
^
D06/11/2007
T-50.12
PT-MOBILE            800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D06/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D07/01/2007
T-93.54
PAT&T EASYCHARGE     800-288-2020        CA
LExpenses:Other Merchants:Communications
^
D07/01/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D07/11/2007
T-105.25
PT-MOBILE RECURNG PMT800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D07/29/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D07/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D08/01/2007
T-93.52
PATT CONS PHONE PMT  800-288-2020      TX
LExpenses:Other Merchants:Communications
^
D08/11/2007
T-37.94
PT-MOBILE RECURNG PMT800-937-8997      WA
LExpenses:Other Merchants:Communications
^
D08/26/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990      VA
LExpenses:Other Merchants:Communications
^
D09/03/2007
T-93.46
PATTN:CHARGEBACK DEPTDALLAS              TX
LExpenses:Other Merchants:Communications
^
D09/11/2007
T-39.16
PT-MOBILE CCII       BELLEVUE            WA
LExpenses:Other Merchants:Communications
^
D09/30/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990        VA
LExpenses:Other Merchants:Communications
^
D10/01/2007
T-21.34
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D10/02/2007
T-93.49
PATT CONS PHONE PMT  800-288-2020        TX
LExpenses:Other Merchants:Communications
^
D10/11/2007
T-108.97
PT-MOBILE RECURNG PMT800-937-8997        WA
LExpenses:Other Merchants:Communications
^
D10/28/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990        VA
LExpenses:Other Merchants:Communications
^
D10/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D11/02/2007
T-93.47
PATT CONS PHONE PMT  800-288-2020        TX
LExpenses:Other Merchants:Communications
^
D11/11/2007
T-95.51
PT-MOBILE RECURNG PMT800-937-8997        WA
LExpenses:Other Merchants:Communications
^
D11/25/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990        VA
LExpenses:Other Merchants:Communications
^
D11/30/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D12/03/2007
T-93.49
PATT CONS PHONE PMT  800-288-2020        TX
LExpenses:Other Merchants:Communications
^
D12/11/2007
T-68.38
PT-MOBILE RECURNG PMT800-937-8997        WA
LExpenses:Other Merchants:Communications
^
D12/30/2007
T-9.95
PCOMPUSERVE COLUMBUS 800-848-8990        VA
LExpenses:Other Merchants:Communications
^
D12/31/2007
T-60.67
PSPRINTPCS AUTOPYMT ROVERLAND PARK       KS
LExpenses:Other Merchants:Communications
^
D01/28/2007
T-25.00
PDOCUMENT COMMAND INCBEAVERTON           OR
LExpenses:Other Merchants:Professional Services
^
D02/08/2007
T25.00
PDOCUMENT COMMAND INCBEAVERTON           OR
LExpenses:Other Merchants:Professional Services
^
D03/05/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D03/26/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D04/25/2007
T-56.00
PRENO-TAHOE INT AIRPORENO                NV
LExpenses:Other Merchants:Professional Services
^
D04/28/2007
T-11.88
P2CO.COM             COLUMBUS          OH
LExpenses:Other Merchants:Professional Services
^
D06/19/2007
T-3.00
PSMARTE CARTE SFOAP 3SAN FRANCISCO       CA
LExpenses:Other Merchants:Professional Services
^
D08/14/2007
T-27.35
PCLICKNPRINT TICKETS 888-695-0888        TX
LExpenses:Other Merchants:Professional Services
^
D09/05/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D09/16/2007
T-9.48
PUPS* 000023F440     800-811-1648        GA
LExpenses:Other Merchants:Professional Services
^
D09/19/2007
T-16.58
PGODADDY.COM         (480)624-2500
LExpenses:Other Merchants:Professional Services
^
D09/28/2007
T-3.00
PSMARTE CARTE SFOAP 3SAN FRANCISCO       CA
LExpenses:Other Merchants:Professional Services
^
D10/16/2007
T-1.20
PINTEGRAM            7038491700          VA
LExpenses:Other Merchants:Professional Services
^
D11/05/2007
T-3.00
PSCI CARTS-NEWARK INTNEWARK              NJ
LExpenses:Other Merchants:Professional Services
^
D11/11/2007
T-364.00
PNEVADA DMV 44 000000CARSON CITY         NV
LExpenses:Other Merchants:Professional Services
^
D11/12/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D11/27/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D12/19/2007
T-3.00
PSMARTE CARTE RNOAP 3RENO                NV
LExpenses:Other Merchants:Professional Services
^
D01/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D01/08/2007
T-26.61
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D01/11/2007
T-41.73
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D01/16/2007
T-14.95
PI DRIVE SAFELY 0025 SOLANA BEACH        CA
LExpenses:Merchandise:Mail Order
^
D01/23/2007
T-86.68
PAMAZON.COM PAYMENTS AMZN.COM/BILL     WA
LExpenses:Merchandise:Mail Order
^
D01/24/2007
T-19.34
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D02/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D02/11/2007
T-24.86
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D02/24/2007
T-18.42
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D03/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D03/12/2007
T-24.74
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D03/14/2007
T-27.00
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D03/24/2007
T-18.18
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D04/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D04/05/2007
T-7.95
PINTERNET-USAGE.COM  979-7753405         TX
LExpenses:Merchandise:Mail Order
^
D04/12/2007
T-20.08
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D04/23/2007
T-27.72
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D04/24/2007
T-31.49
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D05/01/2007
T-0.21
PAMZN PMT SERVICES   800-201-7575      WA
LExpenses:Merchandise:Mail Order
^
D05/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D05/04/2007
T-27.79
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D05/12/2007
T-30.58
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D05/22/2007
T-357.94
PETRAILER.COM 00000  WENTZVILLE          MO
LExpenses:Merchandise:Mail Order
^
D05/24/2007
T-17.98
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D06/01/2007
T-0.10
PAMZN PMT SERVICES   800-201-7575      WA
LExpenses:Merchandise:Mail Order
^
D06/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D06/07/2007
T-49.40
PBroadVoice          978-418-7300      MA
LExpenses:Merchandise:Mail Order
^
D06/12/2007
T-22.29
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D06/13/2007
T49.40
PBroadVoice          978-418-7300      MA
LExpenses:Merchandise:Mail Order
^
D06/22/2007
T-7.95
PCREDIT REPORT 800493SAN LUIS OBI        CA
LExpenses:Merchandise:Mail Order
^
D06/25/2007
T-22.38
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D07/01/2007
T-0.10
PAMZN PMT SERVICES   800-201-7575      WA
LExpenses:Merchandise:Mail Order
^
D07/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D07/12/2007
T-19.96
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D07/20/2007
T-535.80
PHP DIRECT SMB       888-215-8871
LExpenses:Merchandise:Mail Order
^
D07/24/2007
T-17.98
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D08/01/2007
T-0.10
PAMZN PMT SERVICES   800-201-7575      WA
LExpenses:Merchandise:Mail Order
^
D08/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D08/04/2007
T-431.71
PAMAZON.COM PAYMENTS AMZN.COM/BILL     WA
LExpenses:Merchandise:Mail Order
^
D08/12/2007
T-27.90
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D08/12/2007
T-18.41
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D08/13/2007
T-223.11
PBIBIT INTERNET PAYMENTS
LExpenses:Merchandise:Mail Order
^
D08/24/2007
T-20.72
PVONAGE AMERICA      866-243-4357      NJ
LExpenses:Merchandise:Mail Order
^
D09/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D09/01/2007
T-0.10
PMNESVC INC          SEATTLE             WA
LExpenses:Merchandise:Mail Order
^
D09/12/2007
T-18.08
PVONAGE HOLDINGS CORPHOLMDEL             NJ
LExpenses:Merchandise:Mail Order
^
D09/24/2007
T-21.76
PVONAGE HOLDINGS CORPHOLMDEL             NJ
LExpenses:Merchandise:Mail Order
^
D09/26/2007
T-119.00
PPacific Battery Syst760-724-2900        CA
LExpenses:Merchandise:Mail Order
^
D10/01/2007
T-0.10
PAMZN PMTS           866-216-1072        WA
LExpenses:Merchandise:Mail Order
^
D10/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D10/12/2007
T-86.93
PBIBIT INTERNET PAYMENTS
LExpenses:Merchandise:Mail Order
^
D10/12/2007
T-18.10
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D10/24/2007
T-35.33
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D11/01/2007
T-0.09
PAMZN PMTS           866-216-1072        WA
LExpenses:Merchandise:Mail Order
^
D11/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D11/05/2007
T-29.57
PINDIGO NETWORK GMBH/SIPGATE,DUESSELDORF
LExpenses:Merchandise:Mail Order
^
D11/11/2007
T-18.24
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D11/16/2007
T-822.95
PLCDTVS.COM          800-507-5315        NJ
LExpenses:Merchandise:Mail Order
^
D11/24/2007
T-18.80
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D12/01/2007
T-0.10
PAMZN PMTS           866-216-1072        WA
LExpenses:Merchandise:Mail Order
^
D12/01/2007
T-9.95
PIBACKUP.COM PROSOFTN8185945972          CA
LExpenses:Merchandise:Mail Order
^
D12/09/2007
T-137.02
PWWW.NEWEGG.COM      800-390-1119        CA
LExpenses:Merchandise:Mail Order
^
D12/12/2007
T-18.24
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D12/17/2007
T-79.00
PAMZ*PRIME CLUB      866-557-2820        NV
LExpenses:Merchandise:Mail Order
^
D12/24/2007
T-18.32
PVONAGE AMERICA      866-243-4357        NJ
LExpenses:Merchandise:Mail Order
^
D01/04/2007
T-73.00
PDRIVE SOLUTIONS, INCCHATSWORTH          CA
LExpenses:Merchandise:Retail
^
D01/05/2007
T-41.24
PAMAZON.COM          AMZN.COM/BILL     WA
LExpenses:Merchandise:Retail
^
D01/16/2007
T-59.99
PAMAZON.COM          AMZN.COM/BILL     WA
LExpenses:Merchandise:Retail
^
D01/17/2007
T-6.43
PBEST BUY MHT   0128 RENO              NV
LExpenses:Merchandise:Retail
^
D04/14/2007
T-8.58
PRAINBOW PRINTING 180INCLINE VILLAGE     NV
LExpenses:Merchandise:Retail
^
D04/16/2007
T-7.39
PRAINBOW PRINTING 180INCLINE VILLAGE     NV
LExpenses:Merchandise:Retail
^
D04/27/2007
T-236.40
PIPPHONE-WAREHOUSE.COWAUKESHA            WI
LExpenses:Merchandise:Retail
^
D04/28/2007
T-42.94
PCOMPUSA#0172        RENO              NV
LExpenses:Merchandise:Retail
^
D05/21/2007
T-26.39
PAMAZON.COM          AMZN.COM/BILL     WA
LExpenses:Merchandise:Retail
^
D06/02/2007
T-13.74
PFNAC NICE, NICE
LExpenses:Merchandise:Retail
^
D06/04/2007
T-122.57
PFNAC NICE, NICE
LExpenses:Merchandise:Retail
^
D06/19/2007
T-77.97
PTELEPHONY DEPOT 0500PHILADELPHIA        PA
LExpenses:Merchandise:Retail
^
D08/07/2007
T-58.89
PAMAZON.COM          AMZN.COM/BILL     WA
LExpenses:Merchandise:Retail
^
D08/22/2007
T-16.74
PSOUVENIR WORLD (AIRPORT) P/L MASCOT NSW
LExpenses:Merchandise:Retail
^
D11/05/2007
T-283.32
PTELEPHONY DEPOT 0500PHILADELPHIA        PA
LExpenses:Merchandise:Retail
^
D11/07/2007
T-48.71
PBARNES & NOBLE 2234 NEW YORK            NY
LExpenses:Merchandise:Retail
^
D11/12/2007
T-61.42
PTECH 4 LESS 80000017COLORADO SPRING     CO
LExpenses:Merchandise:Retail
^
D11/16/2007
T-147.44
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D11/23/2007
T-30.42
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/05/2007
T25.40
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/05/2007
T-16.48
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/12/2007
T-29.67
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/18/2007
T-16.63
PRAINBOW PRINTING 180INCLINE VILLAGE     NV
LExpenses:Merchandise:Retail
^
D12/20/2007
T-20.98
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/21/2007
T-39.98
PAMAZON.COM          AMZN.COM/BILL       WA
LExpenses:Merchandise:Retail
^
D12/26/2007
T-26.26
PVILLAGE ACE HARDWAREINCLINE VILLAG      NV
LExpenses:Merchandise:Retail
^
D04/01/2007
T-8.24
PBOUDIN BAKERY CAFE SSAN FRANCISCO       CA
LExpenses:Merchandise:Super Markets
^
D04/02/2007
T-5.07
PWHOLEFDS CIR 10160 SNEW YORK            NY
LExpenses:Merchandise:Super Markets
^
D04/03/2007
T-8.09
PPRANZO              NEW YORK          NY
LExpenses:Merchandise:Super Markets
^
D04/04/2007
T-4.34
PPRANZO              NEW YORK          NY
LExpenses:Merchandise:Super Markets
^
D05/19/2007
T-22.69
PGUAVA & JAVA        SAN FRANCISCO     CA
LExpenses:Merchandise:Super Markets
^
D11/05/2007
T-13.49
PWHOLEFDS CIR 10160 SNEW YORK            NY
LExpenses:Merchandise:Super Markets
^
D11/06/2007
T-22.61
PWHOLEFDS CIR 10160 SNEW YORK            NY
LExpenses:Merchandise:Super Markets
^
D11/07/2007
T-14.94
PWHOLEFDS CIR 10160 SNEW YORK            NY
LExpenses:Merchandise:Super Markets
^
D11/08/2007
T-16.17
PWHOLEFDS CIR 10160 SNEW YORK            NY
LExpenses:Merchandise:Super Markets
^
