!Type:Cash
D02/14/2008
T-10.82
PTimeSquareBar
LExpenses:Food
^
D02/14/2008
T-1.89
PHudson
LExpenses:Food
^
D02/20/2008
T-8.20
PTaxi NYC
LExpenses:Travel
^
D02/14/2008
T-898.19
PBest Western
LExpenses:Travel
^
D02/14/2008
T-4.90
PTaxi NYC
LExpenses:Travel
^
D02/20/2008
T-15.55
PKosherDeluxe
LExpenses:Food
^
D02/11/2008
T-10.17
PFlavors Café
LExpenses:Food
^
D02/13/2008
T-6.44
PHarbour Café
LExpenses:Food
^
D02/13/2008
T-13.77
PAuBonPain
LExpenses:Food
^
D02/12/2008
T-11.36
PAuBonPain
LExpenses:Food
^
D02/12/2008
T-13.74
PHarbour Café
LExpenses:Food
^
D02/13/2008
T-14.20
PTaxi NYC
LExpenses:Travel
^
D02/13/2008
T-13.50
PTaxi NYC
LExpenses:Travel
^
D02/13/2008
T-6.30
PAuBonPain
LExpenses:Food
^
D02/13/2008
T-30.20
PTaxi NYC
LExpenses:Travel
^
D05/29/2008
T-245.06
PSouth Shore Motors
LExpenses:Car
^
D06/01/2008
T-14.49
PShilo Inn
LExpenses:Travel
^
D07/23/2008
T-125.00
PHotel Carter
LExpenses:Travel
^
D04/08/2008
T-150.00
PAttorney
LExpenses:Other
^
D04/09/2008
T-200.00
PCarpetCare
LExpenses:Other
^
D04/12/2008
T-19.10
PHertz
LExpenses:Travel
^
D07/23/2008
T-5.40
PTaxi NYC
LExpenses:Travel
^
D07/24/2008
T-9.30
PTaxi NYC
LExpenses:Travel
^
D07/21/2008
T-250.00
PHotel Carter
LExpenses:Travel
^
D07/21/2008
T-7.90
PTaxi NYC
LExpenses:Travel
^
D07/22/2008
T-6.20
PTaxi NYC
LExpenses:Travel
^
D02/22/2008
T-86.39
PBigTires
LExpenses:Car
^
D02/22/2008
T-168.09
PBigTires
LExpenses:Car
^
D03/09/2008
T-111.90
PTravelodge
LExpenses:Travel
^
D02/21/2008
T-18.00
PTaxi NYC
LExpenses:Travel
^
D02/21/2008
T-414.36
PSuper8Hotel
LExpenses:Travel
^
D02/22/2008
T-287.14
PTireRack
LExpenses:Car
^
D04/08/2008
T-106.82
PBigTires
LExpenses:Car
^
D04/08/2008
T-720.43
PTireRack
LExpenses:Car
^
D02/28/2008
T-60.20
PPost Office
LExpenses:Office
^
D03/04/2008
T-773.67
PHotel Holiday Inn
LExpenses:Travel
^
D03/08/2008
T-628.18
PVoyager Inn
LExpenses:Travel
^
D02/04/2007
T-29.04
PArco
LExpenses:Gas
^
D09/07/2007
T-54.00
PAAA
LExpenses:Car
^
D09/23/2007
T-1062.50
PSubaru
LExpenses:Car
^
D08/24/2007
T-1062.50
PSubaru
LExpenses:Car
^
D09/05/2007
T-950.28
PLithia
LExpenses:Car
^
D09/25/2007
T-690.40
PLes Kraitzick & Associates
^
D11/04/2007
T-116.00
PHotel Carter
LExpenses:Travel
^
D11/05/2007
T-232.00
PHotel Carter
LExpenses:Travel
^
D10/31/2007
T-690.40
PLes Kraitzick & Associates
^
D11/04/2007
T-76.00
PTaxi NYC
LExpenses:Travel
^
D04/03/2007
T-4.60
PTaxi NYC
LExpenses:Travel
^
D04/04/2007
T-4.60
PTaxi NYC
LExpenses:Travel
^
D04/02/2007
T-4.60
PTaxi NYC
LExpenses:Travel
^
D04/02/2007
T-4.60
PTaxi NYC
LExpenses:Travel
^
D04/06/2007
T-26.17
PStaples
LExpenses:Office
^
D07/24/2007
T-1062.50
PSubaru
LExpenses:Car
^
D08/20/2007
T-52.00
PPost Office
LExpenses:Office
^
D04/06/2007
T-29.92
PSouth Shore Motors
LExpenses:Car
^
D06/23/2007
T-1062.50
PSubaru
LExpenses:Car
^
D11/05/2007
T-5.10
PCafé Manhattan
LExpenses:Food
^
D12/24/2007
T-1058.24
PSubaru
LExpenses:Car
^
D12/30/2007
T-115.60
PSportsExchange
LExpenses:Sport
^
D11/25/2007
T-728.86
PHotel Holiday Inn
LExpenses:Travel
^
D12/22/2007
T-136.74
PAlpenGlow
LExpenses:Sport
^
D01/24/2008
T-31.89
PSouth Shore Motors
LExpenses:Car
^
D02/11/2008
T-54.00
PTaxi NYC
LExpenses:Travel
^
D02/11/2008
T-11.00
PHarbour Café
LExpenses:Food
^
D02/06/2008
T-35.00
PIncline Chiropractic
LExpenses:Health
^
D02/06/2008
T-11.00
PTahoe Cross Country
LExpenses:Sport
^
D11/06/2007
T-8.20
PTaxi NYC
LExpenses:Travel
^
D11/07/2007
T-232.00
PHotel Carter
LExpenses:Travel
^
D11/06/2007
T-8.20
PTaxi NYC
LExpenses:Travel
^
D11/06/2007
T-7.40
PTaxi NYC
LExpenses:Travel
^
D11/07/2007
T-5.00
PTaxi NYC
LExpenses:Travel
^
D11/09/2007
T-4.50
PBridges & Tunnels
LExpenses:Travel
^
D11/22/2007
T-1062.50
PSubaru
LExpenses:Car
^
D11/08/2007
T-7.80
PTaxi NYC
LExpenses:Travel
^
D11/08/2007
T-60.00
PTaxi NYC
LExpenses:Travel
^
