!Type:Bank
D12/31/2007
T13970.00
PFUNDS RECEIVED type: *DEPOSIT
^
D12/24/2007
T69.68
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: LT CAP GAIN REIN
^
D12/24/2007
T429.44
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: ST CAP GAIN REINV.
^
D12/24/2007
T-69.68
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: REINVEST DIVIDEND
^
D12/24/2007
T-429.44
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: REINVEST DIVIDEND
^
D12/21/2007
T7.51
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: CASH DIVIDEND
^
D12/21/2007
T-7.51
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: REINVEST DIVIDEND
^
D12/20/2007
T106.11
PU.S. GLOBAL INVESTORS   EASTERN EUROPEAN FUND type: ST CAP GAIN REINV.
^
D12/20/2007
T419.66
PU.S. GLOBAL INVESTORS   EASTERN EUROPEAN FUND type: LT CAP GAIN REIN
^
D12/20/2007
T-419.66
PU.S. GLOBAL INVESTORS   EASTERN EUROPEAN FUND type: REINVEST DIVIDEND
^
D12/20/2007
T-106.11
PU.S. GLOBAL INVESTORS   EASTERN EUROPEAN FUND type: REINVEST DIVIDEND
^
D12/19/2007
T17765.00
PFUNDS RECEIVED type: *DEPOSIT
^
D12/14/2007
T13.34
PSSGA INTL STOCK         SELECTION FUND type: LT CAP GAIN REIN
^
D12/14/2007
T14.61
PSSGA INTL STOCK         SELECTION FUND type: CASH DIVIDEND
^
D12/14/2007
T-13.34
PSSGA INTL STOCK         SELECTION FUND type: REINVEST DIVIDEND
^
D12/14/2007
T-14.61
PSSGA INTL STOCK         SELECTION FUND type: REINVEST DIVIDEND
^
D12/14/2007
T-1589.63
PAMEX       51311865 type: SCHWAB CHECK
^
D11/29/2007
T-44.27
PINTEREST 10/30THRU 11/28 type: MARGIN INTEREST
^
D11/20/2007
T13200.00
PFUNDS RECEIVED type: *DEPOSIT
^
D11/19/2007
T18991.26
PFUNDS RECEIVED type: *DEPOSIT
^
D11/14/2007
T-460.01
PAMEX       51311865 type: SCHWAB CHECK
^
D11/12/2007
T0.00
PSUN MICROSYSTEMS INC NEW type: REVERSE SPLIT
^
D11/12/2007
T0.00
PSUN MICROSYSTEMS INC XXX1 FOR 4 REVERSE SPLIT type: REVERSE SPLIT
^
D10/30/2007
T-9.25
PINTEREST 09/27THRU 10/29 type: MARGIN INTEREST
^
D10/19/2007
T38.32
PSSGA INTL STOCK         SELECTION FUND type: CASH DIVIDEND
^
D10/19/2007
T3.55
PSSGA INTL STOCK         SELECTION FUND type: ST CAP GAIN REINV.
^
D10/19/2007
T41.27
PSSGA INTL STOCK         SELECTION FUND type: LT CAP GAIN REIN
^
D10/19/2007
T-38.32
PSSGA INTL STOCK         SELECTION FUND type: REINVEST DIVIDEND
^
D10/19/2007
T-41.27
PSSGA INTL STOCK         SELECTION FUND type: REINVEST DIVIDEND
^
D10/19/2007
T-3.55
PSSGA INTL STOCK         SELECTION FUND type: REINVEST DIVIDEND
^
D10/15/2007
T-3809.40
PAMEX       51311865 type: SCHWAB CHECK
^
D10/03/2007
T16.00
PHEWLETT-PACKARD COMPANY type: QUALIFIED DIV
^
D10/01/2007
T426.81
PFUNDS RECEIVED type: *DEPOSIT
^
D09/27/2007
T-15000.00
PJOURNAL TO 62053433 type: TRF BTWN SCH ACCTS
^
D09/26/2007
T-26125.00
PJOURNAL TO 81049758 type: TRF BTWN SCH ACCTS
^
D09/20/2007
T22605.00
PFUNDS RECEIVED type: *DEPOSIT
^
D09/19/2007
T-10000.00
PIRS        51311865 type: SCHWAB CHECK
^
D09/12/2007
T-3522.01
PAMEX       51311865 type: SCHWAB CHECK
^
D08/13/2007
T-2656.86
PAMEX       51311865 type: SCHWAB CHECK
^
D08/08/2007
T17600.00
PFUNDS RECEIVED type: *DEPOSIT
^
D07/13/2007
T-655.44
PAMEX       51311865 type: SCHWAB CHECK
^
D07/12/2007
T-20000.00
PWIRED FUNDS DISBURSED type: WIRED FUNDS OUT
^
D07/12/2007
T-25.00
PWIRED FUNDS FEE type: SERVICE FEE
^
D07/05/2007
T16.00
PHEWLETT-PACKARD COMPANY type: QUALIFIED DIV
^
D07/03/2007
T16225.00
PFUNDS RECEIVED type: *DEPOSIT
^
D06/28/2007
T16.94
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: CASH DIVIDEND
^
D06/28/2007
T-16.94
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND type: REINVEST DIVIDEND
^
D06/19/2007
T-10000.00
PIRS        51311865 type: SCHWAB CHECK
^
D06/13/2007
T-1828.01
PAMEX       51311865 type: SCHWAB CHECK
^
D06/11/2007
T2545.00
PFUNDS RECEIVED type: DEPOSIT
^
D06/01/2007
T22.50
PINTEL CORP type: QUALIFIED DIV
^
D05/29/2007
T24200.00
PFUNDS RECEIVED type: *DEPOSIT
^
D05/21/2007
T15895.00
PFUNDS RECEIVED type: *DEPOSIT
^
D05/18/2007
T-25.00
PRETURNED CHECK FEE type: SERVICE FEE
^
D05/18/2007
T-2.22
PMMPDIV 051107-051707 type: ADJUST DIVIDEND
^
D05/17/2007
T-2500.00
PRETURNED CHECK NSF type: RETURNED DEPOSIT
^
D05/17/2007
T25.00
PREV INSUFF FUNDS FEE type: SERVICE FEE ADJ
^
D05/16/2007
T-25.00
PRETURNED CHECK FEE type: SERVICE FEE
^
D05/15/2007
T-1.00
PRETURNED CHECK NSF type: RETURNED DEPOSIT
^
D05/14/2007
T-2078.35
PAMEX       51311865 type: SCHWAB CHECK
^
D05/14/2007
T21615.00
PFUNDS RECEIVED type: *DEPOSIT
^
D05/10/2007
T2500.00
PFUNDS RECEIVED type: *DEPOSIT
^
D05/08/2007
T1.00
PFUNDS RECEIVED type: *DEPOSIT
^
D05/07/2007
T-2500.00
PSSGA INTL STOCK         SELECTION FUND
^
D05/07/2007
T-5000.00
PMETZLER/PAYDEN EUROPEAN  EMERGING MARKETS FUND
^
D05/07/2007
T-2500.00
PU.S. GLOBAL INVESTORS   EASTERN EUROPEAN FUND
^
D05/07/2007
T1792.02
PMOTOROLA INC
^
D05/07/2007
T4368.98
PINTEL CORP
^
D05/07/2007
T588.64
PYAHOO INC
^
D04/20/2007
T-5000.00
PIRS        51311865 type: SCHWAB CHECK
^
D04/20/2007
T-10000.00
PIRS        51311865 type: SCHWAB CHECK
^
D04/13/2007
T5.00
PMOTOROLA INC type: QUALIFIED DIV
^
D04/12/2007
T-782.60
PAMEX       51311865 type: SCHWAB CHECK
^
D04/12/2007
T50.00
PFUNDS RECEIVED type: *DEPOSIT
^
D04/12/2007
T16483.00
PFUNDS RECEIVED type: *DEPOSIT
^
D04/12/2007
T11978.00
PFUNDS RECEIVED type: *DEPOSIT
^
D04/04/2007
T16.00
PHEWLETT-PACKARD COMPANY type: QUALIFIED DIV
^
D03/15/2007
T-2533.22
PAMEX       51311865 type: SCHWAB CHECK
^
D03/01/2007
T22.50
PINTEL CORP type: QUALIFIED DIV
^
D02/13/2007
T-3095.41
PAMEX       51311865 type: SCHWAB CHECK
^
D02/05/2007
T14893.00
PFUNDS RECEIVED type: *DEPOSIT
^
D01/30/2007
T-17000.00
PWIRED FUNDS DISBURSED type: WIRED FUNDS OUT
^
D01/30/2007
T-25.00
PWIRED FUNDS FEE type: SERVICE FEE
^
D01/16/2007
T5.00
PMOTOROLA INC type: QUALIFIED DIV
^
D01/12/2007
T-3293.97
PAMEX       51311865 type: SCHWAB CHECK
^
D01/10/2007
T19716.00
PFUNDS RECEIVED type: DEPOSIT
^
D01/03/2007
T16.00
PHEWLETT-PACKARD COMPANY type: QUALIFIED DIV
^
